<section class="container-root">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#New-User">Agregar
                    Usuario
                </button>
            </div>
        </div>
        <hr />
        <div class="row justify-content-md-center card">
            <div class="col-md-auto">
                @{
                    List<UserApp> LtsUsers = ViewBag.LtsUsers;
                    if (LtsUsers.Count > 0)
                    {
                        <table class="table table-sm">
                            <thead class="table-light">
                                <tr class="table-primary">
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Bloquear</th>
                                    <th scope="col">Resetear Contraseña</th>
                                    <th scope="col">Editar </th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            @foreach (UserApp us in LtsUsers)
                            {
                                <tr class="table-light">
                                    <th scope="row">@us.UserAppId </th>
                                    <th>@us.userName </th>
                                    <th>@us.userLastname </th>
                                    <th>@us.userEmail </th>
                                    @switch (us.userType)
                                    {
                                        case 0:
                                            <th>Cliente</th>
                                            break;
                                        case 1:
                                            <th>Empleado</th>
                                            break;
                                        case 2:
                                            <th>Proveedor</th>
                                            break;
                                        case 3:
                                            <th>Administrador</th>
                                            break;
                                        default:
                                            <th>Cliente</th>
                                            break;
                                    }
                                    <th scope="row">
                                        <button type="button" class="btn btn-outline-secondary" 
                                                onclick="handleClickBloked('@us.UserAppId', '@us.userName' + '@us.userLastname')">
                                            <i class="bi bi-shield-lock-fill"></i>
                                        </button>
                                    </th>
                                    <th scope="row" style="text-align: center;">
                                        <button type="button" class="btn btn-outline-success"
                                                onclick="handleClickRestPass('@us.UserAppId', '@us.userName' + '@us.userLastname')">
                                            <i class="bi bi-envelope-fill"></i>
                                        </button>
                                    </th>
                                    <th scope="row">
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                            data-target="#Edit-User" onclick="handleClickEdit('@us.UserAppId',
                                             '@us.userName', '@us.userEmail', '@us.userLastname', '@us.userNumDocument',
                                             '@us.HomeAddressId', '@us.userNicname', '@us.userPhone', '@us.userType')">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </th>
                                    <th scope="row">
                                        <button type="button" class="btn btn-outline-danger" 
                                              onclick="handleClickDeleteUser('@us.UserAppId', '@us.userName' + '@us.userLastname')">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </button>
                                    </th>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</section>

<!-- Modal New-->
<div class="modal fade" id="New-User" role="dialog">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Usuario</h5>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <form method="POST" action="/Users/Index">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Nombres:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Apellidos:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="lastname">
                                </div>
                            </div>
                           
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Cédula:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="numDocument">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Tipo:</label>
                                <div class="col-sm-8">
                                   <select class="form-control" name="type" >
                                        <option value="0" selected>Cliente</option>
                                        <option value="1">Empleado</option>
                                        <option value="2">Proveedor</option>
                                        <option value="3">Administrador</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-3  m-1">
                            <div class="card">
                                <div class="card-body">
                                    <canvas id= "myCanvas" width="100" height="200"></canvas>
                                </div>
                            </div>
                             <label class="btn btn-primary">
                                <input type="file" style="display: none;" id="imageInput"/>
                                Subir Imagen
                            </label>
                            <input type="hidden"  id="modal-new-img-base64" name="imgUser"/>
                        </div>
                    </div>
                    <hr/>
                    <div class="row" style="display: block;">
                       <div class="tab">
                        <button class="tablinks active" onclick="openTab(event, 'Contactos')">Contactos</button>
                        <button class="tablinks" onclick="openTab(event, 'Address')">Dirección</button>
                        <button class="tablinks" onclick="openTab(event, 'Profile')">Asignar Perfil</button>
                        </div>

                        <div id="Contactos" class="tabcontent">
                             <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Nombre de Usuario:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="nickname">
                                </div>
                            </div>
                             <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Correo electrónico:</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" name="emailUser">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Teléfono:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="phone">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Contraseña:</label>
                                <div class="col-sm-7">
                                    <small>Se asignará una contraseña temporal, la misma que le llegara al correo. </small>
                                </div>
                            </div>
                        </div>

                        <div id="Address" class="tabcontent">
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Ciudad:</label>
                                <div class="col-sm-7">
                                   <select class="form-control" name="city">
                                        <option value="Quito">Quito</option>
                                        <option value="Cuenca">Cuenca</option>
                                        <option value="Santo Domingo"> Santo Domingo</option>
                                        <option value="Machala">Machala</option>
                                        <option value="Guayaquil">Guayaquil</option>
                                        <option value="Durán">Durán</option>
                                        <option value="Manta">Manta</option>
                                        <option value="Portoviejo">Portoviejo</option>
                                        <option value="Loja"> Loja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Calle Principal:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="mainStreet">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Calle Secundaria:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="secondaryStreet">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Numeración:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="numHome">
                                </div>
                            </div>
                        </div>

                        <div id="Profile" class="tabcontent">
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Seleccione el Perfil del Usuario:</label>
                                
                            </div>
                            <div class="mb-1">
                                    @{
                                        List<Profile> profiles = ViewBag.LtsProfiles;
                                        if(profiles.Count > 0)
                                        {
                                            foreach(Profile pr in profiles)
                                            {
                                                if(pr.ProfileId != 3)
                                                {
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="profileSelected" id="@pr.ProfileId -1" value="@pr.ProfileId">
                                                    <label class="form-check-label" for="@pr.ProfileId -1">
                                                    @pr.ProfileName
                                                    </label>
                                                </div>
                                                }
                                                else
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="profileSelected" id="@pr.ProfileId -1" value="@pr.ProfileId" checked>
                                                        <label class="form-check-label" for="@pr.ProfileId -1">
                                                        @pr.ProfileName
                                                        </label>
                                                    </div>
                                                }
                                                
                                            }
                                        }
                                    }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="Edit-User" role="dialog">
   <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Usuario</h5>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <form method="POST" action="/Users/Update">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8">
                            <input type="hidden" id="modal-edit-idUser" name="keyUser"/>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Nombres:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="modal-edit-nameUser" name="name">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Apellidos:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="modal-edit-userLastname" name="lastname">
                                </div>
                            </div>
                           
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Cédula:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="modal-edit-userNumDocument" name="numDocument">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Tipo:</label>
                                <div class="col-sm-8">
                                   <select class="form-control" id="modal-edit-userType" name="type">
                                        <option value="0" selected>Cliente</option>
                                        <option value="1">Empleado</option>
                                        <option value="2">Proveedor</option>
                                        <option value="3">Administrador</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-3  m-1">
                            <div class="card">
                                <div class="card-body">
                                    <canvas id= "myCanvas" width="100" height="200"></canvas>
                                </div>
                            </div>
                             <label class="btn btn-primary">
                                <input type="file" style="display: none;" id="imageInput"/>
                                Subir Imagen
                            </label>
                        </div>
                    </div>
                    <hr/>
                    <div class="row" style="display: block;">
                       <div class="tab">
                        <button class="tablinks active" onclick="openTab(event, 'Contactos-edit')">Contactos</button>
                        <button class="tablinks" onclick="openTab(event, 'Address-edit')">Dirección</button>
                        <button class="tablinks" onclick="openTab(event, 'Profile-edit')">Asignar Perfil</button>
                        </div>

                        <div id="Contactos-edit" class="tabcontent">
                             <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Nombre de Usuario:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="modal-edit-userNicname" name="nickname">
                                </div>
                            </div>
                             <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Correo electrónico:</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="modal-edit-emailUser" name="emailUser">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label" >Teléfono:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="modal-edit-userPhone" name="phone">
                                </div>
                            </div>
                          
                        </div>

                        <div id="Address-edit" class="tabcontent">
                            <input type="hidden" id="modal-edit-HomeAddressId" name="keyHomeAddress" />
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Ciudad:</label>
                                <div class="col-sm-7">
                                   <select class="form-control" name="city" >
                                        <option value="Quito">Quito</option>
                                        <option value="Cuenca">Cuenca</option>
                                        <option value="Santo Domingo"> Santo Domingo</option>
                                        <option value="Machala">Machala</option>
                                        <option value="Guayaquil">Guayaquil</option>
                                        <option value="Durán">Durán</option>
                                        <option value="Manta">Manta</option>
                                        <option value="Portoviejo">Portoviejo</option>
                                        <option value="Loja"> Loja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Calle Principal:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="mainStreet">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Calle Secundaria:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="secondaryStreet">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Numeración:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="numHome">
                                </div>
                            </div>
                        </div>

                        <div id="Profile-edit" class="tabcontent">
                            <div class="mb-2 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Seleccione el Perfil del Usuario:</label>
                                
                            </div>
                            <div class="mb-1" id="profiles-container">
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
<script>
    let imgInput = document.getElementById('imageInput');
    imgInput.addEventListener('change', function(e) {
        if(e.target.files) {
        let imageFile = e.target.files[0]; //here we get the image file
        var reader = new FileReader();
        reader.readAsDataURL(imageFile);
        reader.onloadend = function (e) {
            var myImage = new Image(); // Creates image object
            myImage.src = e.target.result; // Assigns converted image to image object
            myImage.onload = function(ev) {
            var myCanvas = document.getElementById("myCanvas"); // Creates a canvas object
            var myContext = myCanvas.getContext("2d"); // Creates a contect object
            myCanvas.width = myImage.width; // Assigns image's width to canvas
            myCanvas.height = myImage.height; // Assigns image's height to canvas
            myContext.drawImage(myImage,0,0); // Draws the image on canvas
            let imgData = myCanvas.toDataURL("image/jpeg",0.75); // Assigns image base64 string in jpeg format to a variable
            console.log(imgData);
            document.getElementById("modal-new-img-base64").value = imgData;
            }
        }
        }
    });

    const handleClickBloked= (idUser, nameUser) => 
    {
        Swal.fire(
        {
            title: '¿Está seguro de bloquear al usuario?',
            text: "El usuario no podrá acceder al sistema",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Bloquear',
            cancelButtonText: 'Cancelar',
        }
        ).then((result) => {
            if (result.isConfirmed) {
                console.log("bloquear")
            } else if (result.isDismissed) {
                console.log("no bloquear")
            }
        })
    }

    const handleClickRestPass= (idUser, nameUser) => 
    {
        Swal.fire(
        {
            title: '¿Está seguro de resetear la contraseña del usuario?',
            text: "Le llegara una contraseña temporal al correo.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Enviar',
            cancelButtonText: 'Cancelar',
        }
        ).then((result) => {
            if (result.isConfirmed) {
                console.log("enviar")
            } else if (result.isDismissed) {
                console.log("no enviar")
            }
        })
    }

    const handleClickDeleteUser= (idUser, nameUser) => 
    {
        Swal.fire(
        {
            title: '¿Está seguro de eliminar al usuario?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
        }
        ).then((result) => {
            if (result.isConfirmed) {
                console.log("eliminar")
            } else if (result.isDismissed) {
                console.log("no eliminar")
            }
        })
    }

 let LtsProfiles = [];
    const handleClickEdit = (idUser, nameUser, emailUser, userLastname, userNumDocument,
                             HomeAddressId, userNicname, userPhone, userType) => {
            document.getElementById("modal-edit-idUser").value = idUser; 
            document.getElementById("modal-edit-emailUser").value = emailUser; 
            document.getElementById("modal-edit-nameUser").value = nameUser;
            document.getElementById("modal-edit-userLastname").value = userLastname;
            document.getElementById("modal-edit-userNumDocument").value = userNumDocument;
            document.getElementById("modal-edit-HomeAddressId").value = HomeAddressId;
            document.getElementById("modal-edit-userNicname").value = userNicname;
            document.getElementById("modal-edit-userPhone").value = userPhone;
            document.getElementById("modal-edit-userType").value = userType;
            render();
            getProfilesOfUser(idUser);
    }

     const getProfilesOfUser = (idUser = "") => {
            fetch(`/Config/SearchProfilOfUser?UserAppId=${idUser}`)
            .then(response => response.json())
            .then(data => {
                LtsProfiles = data;
                render();
            } );
        }

        const render = () => {
            let htmlProfiles = "";
            if(LtsProfiles.length > 0)
            {
                LtsProfiles.forEach(pr => {
                    htmlProfiles = htmlProfiles + `
                       <div class="form-check">
                            <input class="form-check-input" type="radio" name="profileSelected" id="${pr.Key}" value="${pr.Key}" 
                            ${pr.selectedProfile? "checked": null }>
                            <label class="form-check-label" for="${pr.Key}">
                               ${pr.label}
                            </label>
                        </div>
                    `;
                })
            }else{
                htmlProfiles = `
                    <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">.</span>
                    </div>
                    </div>
                `;
            }
            document.getElementById("profiles-container").innerHTML=htmlProfiles;
        }
</script>
}